*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#c94fed,#6035e3);
    color: #fff;
    padding: 20px;
}
.calculator{
        width: 100%;
        max-width: 600px;
        margin-left:10%;
        margin-top: 10%;
}
img{
    /* width: 400px;
    height: 400px; */
    margin-left: 120%;
    margin-top: -50%;
}
.calculator h1{
    font-size: 60px;
    font-weight: 150px;
}
.input-box{
     margin: 50px 0;
     padding: 35px;
     border-radius: 10px;
     background: rgba(255,255,255,0.4);
     display:flex;
     align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 20px;
    border-radius: 10px;
    position:relative
}
.input-box button{
    background: #8400d1;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 13px;
    color: #faf8f8;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result
{
    font-size: 20px;
}
#result span{
    color:#2e2929;
    font-weight: 700;
}